/target/
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.core.resources.prefs
.project
.classpath
*.iml
.checkstyle
.apt_generated/
.apt_generated_test/
bin/
/**/WEB-INF/classes
.factorypath
.metadata
tmp/
.classpath
.settings/org.eclipse.jdt.core.prefs
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/PDFGenerator/PDFGenerator/pom.properties
target/classes/META-INF/maven/PDFGenerator/PDFGenerator/pom.xml
target/classes/sample.pdf
